/* CSS */
*{
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

html{
  font-size: 16px;
  scroll-behavior: smooth;
}

:root{
  --primary-color:#2273FF ; /* Opción 1*/
/* --primary-color:#00F0AC;  Opción 2*/
}

a:link {text-decoration: none;}
h2{margin: 30px auto;}

/* Botones */
.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary {
  color: var(--primary-color);
  background-color: #FFF;
  border-color: var(--primary-color);
}

.btn:hover {background-color: var(--primary-color)}

/* Scroll-top */
#goTop{
  position: fixed;
  z-index: 1000;
  right: 25px;
  bottom: 25px;
  background-color: #FFF;
  border:1px solid var(--primary-color);
  padding: 0 10px;
  color:#FFF;
  text-align: center;
  border-radius: 50%;
  transition: all .2s;
}

#goTop:hover{
  cursor: pointer;
  transform: scale(1.1);
  color: #FFF;
}

.indicator-scroll{
  height: 100%;
  width: 0;
  background-color: var(--primary-color);
}

.ocultar{
  opacity: 0;
  visibility: hidden;
}

.mostrar{
  opacity: 1;
  visibility: visible;
}

/* NavBar */
.navbar {height: 80px; background-color: transparent; color:#222;}
#logo {height: 30px;}
.navbar a:hover{color: var(--primary-color) !important;}
.nav-link {color:#222 !important;}

.navbar-Scroll {
 background-color:#222 !important; color:#FFF !important;}

 .navbar-Scroll .nav-link {color:#FFF !important;}


/* CARRUSEL */
#carousel-viajes{margin-top:120px;z-index: 1;}
#carousel-viajes img{height: 450px; object-fit: cover; border-radius: 2em;}

/* CARD SECTION - FEATURED TRAVELS */

.card {
  border-radius: 1.5em !important;
  border:1px solid #ebebeb;
  padding:10px;
}

.card img {
  border-radius: 1.5em !important;
  object-fit: cover;
  height: 300px;
}

.card-title {margin: 10px 0 10px 0;}
.precio {font-size: 0.8em; color:slategrey}
.moneda{font-size:0.7em;}
.checked {color: orange;}

/* Sección Why Us */
.why-us{
  color: #222;
  padding:60px 20px;
}

.why-icon{
  color:var(--primary-color)
}

/* FOOTER */
.footer{
  background-color: var(--primary-color);
}

#logo-footer{
  height: 20px;
}

/* MEDIA QUERIES */
/* MOBILE S */
@media screen and (min-width:319px) and (max-width:374px) {
}
/*Mobile M*/
@media screen and (min-width:375px) and (max-width:424px) {
}
/*Mobile L*/
@media screen and (min-width:425px) and (max-width:767.98px){
}
/*Tablet*/
@media screen and (min-width:768px) and (max-width:1023.98px){
}
/*TABLET GRANDE */ 
@media screen and (min-width:1024px) and (max-width:1299.98px){
}
/* LAPTOP */
@media screen and (min-width:1300px) and (max-width:1500px){
}